/* General styling */
:root {
    --background: #F1F2FF;
    --foreground: #171717;
  }

body {
    font-family: Arial, sans-serif;
    background: #F1F2FF;
    color: #333;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

#app {
    padding-top: 12px;
}

.header-title {
    text-align: center;
    padding-top: 80px;
    color: #4f46e5;
    margin: 0;
}


.header-title > span {
    color: #6366f1;
    margin: 0;
}

nav {
    font-size: 20px;
    display: flex;
    gap: 20px;
    /* margin-top: 5px; */
    padding-top: 10px;
}

a {
    text-decoration: underline;
    color: #4f46e5;
    /* Primary color for links */
    font-weight: bold;
    transition: color 0.3s;
    margin: 5px;
}

a:hover {
    color: #6366f1;
    /* Lighter shade on hover */
}

/* Card container styling */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    /* margin-top: 20px; */
}

/* Individual card styling */
.card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-container > .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
    color: #4f46e5;
    /* Primary color for card title */
}

.card p {
    color: #6b7280;
    /* Text color for description */
}

/* Ad placement styling */
.ad300x250 {
    width: auto;
    height: auto;
    /* width: 302px;
    background-color: #e5e7eb;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #4b5563;
    border-radius: 6px; */
}

.ad {
    width: 100%;
    background-color: #e5e7eb;
    padding: 2px;
    text-align: center;
    /* margin: 10px 0; */
    font-size: 14px;
    color: #4b5563;
    border-radius: 6px;
}

#ads-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#ads-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.card-image-container {
    position: relative;
}

.card-image-play-button {
    position: absolute;
    left: 45%;
    top: 40%;
    width: 30px;
}

.card-image {
    width: 260px;
    height: 300px;
}

.details-card-container > iframe {
    width: 720px;
    height: 480px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: linear-gradient(45deg, #6366f1, #4f46e5);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background: linear-gradient(45deg, #6366f1, #4f46e5);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button:disabled {
    background: #ccc;
    cursor: not-allowed;
    box-shadow: none;
  }

/* .details-card-container {
    width: 720px;
    text-align: center;
}

.details-card-container > .card-image-container > .card-image-play-button {
    left: 48% !important;
    top: 45% !important;
} */

/* Responsive design adjustments */
@media (max-width: 768px) {
    nav {
        /* flex-direction: column; */
        align-items: center;
    }

    .card-container {
        grid-template-columns: 2fr;
    }

    /* Ad placement styling */
    .ad300x250 {
        width: 100%;
    }


    .ad {
        font-size: 12px;
    }

    .card {
        width: 250px;
    }

    .card-image {
        width: 250px;
    }

    .details-card-container > iframe {
        width: 250px;
        height: 180px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    nav {
        gap: 10px;
    }
}